
SECRET_KEY=django-insecure-+)s8qeq_#m^!g8i_%tat0vhev5e!bpizywkaqqoz)$rgl*f&(x

DEBUG=False

ALLOWED_HOSTS=.vercel.app,bolibazar.vercel.app

CSRF_TRUSTED_ORIGINS=https://*.vercel.app,https://bolibazar-web-git-main-omzadafiya5124s-projects.vercel.app

SECURE_SSL_REDIRECT=True
SESSION_COOKIE_SECURE=True
CSRF_COOKIE_SECURE=True
SECURE_HSTS_SECONDS=0


DATABASE_URL=postgres://avnadmin:AVNS_55NkzyqUeyXjftcTBLl@pg-66c7f71-auctionweb.c.aivencloud.com:11680/defaultdb?sslmode=require

DB_SSL_REQUIRE=True

EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USE_TLS=True
EMAIL_HOST_USER=singisking5658@gmail.com
EMAIL_HOST_PASSWORD=crodnlbibappzouo
DEFAULT_FROM_EMAIL=EMAIL_HOST_USER

RAZORPAY_KEY_ID=rzp_test_SbqldJmV7TDkLA
RAZORPAY_KEY_SECRET=KUxPfYPacYfjby3ebEqyE2xk

CLOUDINARY_CLOUD_NAME=dvacxiutr
CLOUDINARY_API_KEY=288998588753278
CLOUDINARY_API_SECRET=HVi5hbOMT46EHcuRxW-aLlHbRrM
