{% extends "header_footer.html" %}
 {% load static %}

{% block title%}FAQ{%endblock%}

{% block content %}

    <!-- Start Breadcrumb section -->
    <div class="breadcrumb-section seven" style="background-image:url({% static 'assets/img/inner-pages/breadcrumb-bg7.png' %});">  
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="banner-content">
                        <h1>FAQ</h1>
                        <ul class="breadcrumb-list">
                           <li><a href="{% url 'home' %}">Home</a></li>
                            <li>FAQ</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Breadcrumb section -->

    <!-- Start Faq section -->
    <div class="home7-faq-section pt-110 mb-110">
        <div class="container">
            <div class="row mb-60 wow animate fadeInDown" data-wow-delay="200ms" data-wow-duration="1500ms">
                <div class="col-lg-12">
                    <div class="section-title2 two text-center">
                        <span><i class="bi bi-arrow-right"></i>QUESTION NOW</span>
                        <h2>Answers to Your <span>Questions</span></h2>
                    </div>
                </div>
            </div>
            
                <div class="col-lg-12 wow animate fadeInRight" data-wow-delay="200ms" data-wow-duration="1500ms">
                    <div class="tab-content" id="v-pills-tabContent">
                        <div class="tab-pane fade show active" id="general" role="tabpanel" aria-labelledby="general-tab" tabindex="0">
                            <div class="faq-wrappper three">
                                <div class="faq-content">
                                    <div class="accordion" id="accordionGeneral">
                                        <div class="accordion-item">
                                            <h2 class="accordion-header" id="faqheadingOne">
                                                <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                                    data-bs-target="#faqcollapseOne" aria-expanded="true"
                                                    aria-controls="faqcollapseOne">
                                                    What is an auction?
                                                </button>
                                            </h2>
                                            <div id="faqcollapseOne" class="accordion-collapse collapse show"
                                                aria-labelledby="faqheadingOne" data-bs-parent="#accordionGeneral">
                                                <div class="accordion-body">
                                                    An auction is a public sale where goods or services are sold to the highest bidder. Bidders compete to offer the highest price, and the item is awarded to the bidder with the highest bid when the auction ends.
                                                </div>
                                            </div>
                                        </div>
                                        <div class="accordion-item">
                                            <h2 class="accordion-header" id="faqheadingTwo">
                                                <button class="accordion-button collapsed" type="button"
                                                    data-bs-toggle="collapse" data-bs-target="#faqcollapseTwo"
                                                    aria-expanded="false" aria-controls="faqcollapseTwo">
                                                    How do auctions work?
                                                </button>
                                            </h2>
                                            <div id="faqcollapseTwo" class="accordion-collapse collapse"
                                                aria-labelledby="faqheadingTwo" data-bs-parent="#accordionGeneral">
                                                <div class="accordion-body">
                                                    Auctions allow items to be sold to the highest bidder. Participants bid on the item until the highest bid is reached within a set timeframe. The highest bidder wins and pays the bid amount.
                                                </div>
                                            </div>
                                        </div>
                                        <div class="accordion-item">
                                            <h2 class="accordion-header" id="faqheadingThree">
                                                <button class="accordion-button collapsed" type="button"
                                                    data-bs-toggle="collapse" data-bs-target="#faqcollapseThree"
                                                    aria-expanded="false" aria-controls="faqcollapseThree">
                                                    What types of auctions are there?
                                                </button>
                                            </h2>
                                            <div id="faqcollapseThree" class="accordion-collapse collapse"
                                                aria-labelledby="faqheadingThree" data-bs-parent="#accordionGeneral">
                                                <div class="accordion-body">
                                                    Types of auctions include English (ascending bid), Dutch (descending bid), sealed-bid (highest bid wins), and Vickrey (sealed-bid, second-highest bid wins). Additionally, there are reverse (lowest bid wins) and silent (secret bids) auctions, catering to various selling dynamics and bidder preferences.
                                                </div>
                                            </div>
                                        </div>
                                        <div class="accordion-item">
                                            <h2 class="accordion-header" id="faqheadingFour">
                                                <button class="accordion-button collapsed" type="button"
                                                    data-bs-toggle="collapse" data-bs-target="#faqcollapseFour"
                                                    aria-expanded="false" aria-controls="faqcollapseFour">
                                                    Who can participate in auctions?
                                                </button>
                                            </h2>
                                            <div id="faqcollapseFour" class="accordion-collapse collapse"
                                                aria-labelledby="faqheadingFour" data-bs-parent="#accordionGeneral">
                                                <div class="accordion-body">
                                                    Anyone meeting auction requirements, typically 18 years or older, can participate. Registration may be necessary, depending on the auction platform. Ensure compliance with specific auction rules and regulations.
                                                </div>
                                            </div>
                                        </div>
                                        <div class="accordion-item">
                                            <h2 class="accordion-header" id="faqheadingFive">
                                                <button class="accordion-button collapsed" type="button"
                                                    data-bs-toggle="collapse" data-bs-target="#faqcollapseFive"
                                                    aria-expanded="false" aria-controls="faqcollapseFive">
                                                    What happens if I win an auction?
                                                </button>
                                            </h2>
                                            <div id="faqcollapseFive" class="accordion-collapse collapse"
                                                aria-labelledby="faqheadingFive" data-bs-parent="#accordionGeneral">
                                                <div class="accordion-body"> 
                                                    If you win an auction, you're obligated to purchase the item at the winning bid price. Follow payment instructions provided by the auction platform. Non-compliance may lead to penalties or account suspension.
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="payment" role="tabpanel" aria-labelledby="payment-tab" tabindex="0">
                            <div class="faq-wrappper three">
                                <div class="faq-content">
                                    <div class="accordion" id="accordionPayment">
                                        <div class="accordion-item">
                                            <h2 class="accordion-header" id="faqheadingPaymentOne">
                                                <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                                    data-bs-target="#faqcollapsePaymentOne" aria-expanded="true"
                                                    aria-controls="faqcollapsePaymentOne">
                                                    What is an auction?
                                                </button>
                                            </h2>
                                            <div id="faqcollapsePaymentOne" class="accordion-collapse collapse show" aria-labelledby="faqheadingPaymentOne" data-bs-parent="#accordionPayment">
                                                <div class="accordion-body">
                                                    An auction is a public sale where goods or services are sold to the highest bidder. Bidders compete to offer the highest price, and the item is awarded to the bidder with the highest bid when the auction ends.
                                                </div>
                                            </div>
                                        </div>
                                        <div class="accordion-item">
                                            <h2 class="accordion-header" id="faqheadingPaymentTwo">
                                                <button class="accordion-button collapsed" type="button"
                                                    data-bs-toggle="collapse" data-bs-target="#faqcollapsePaymentTwo"
                                                    aria-expanded="false" aria-controls="faqcollapsePaymentTwo">
                                                    How do auctions work?
                                                </button>
                                            </h2>
                                            <div id="faqcollapsePaymentTwo" class="accordion-collapse collapse"
                                                aria-labelledby="faqheadingPaymentTwo" data-bs-parent="#accordionPayment">
                                                <div class="accordion-body">
                                                    Auctions allow items to be sold to the highest bidder. Participants bid on the item until the highest bid is reached within a set timeframe. The highest bidder wins and pays the bid amount.
                                                </div>
                                            </div>
                                        </div>
                                        <div class="accordion-item">
                                            <h2 class="accordion-header" id="faqheadingPaymentThree">
                                                <button class="accordion-button collapsed" type="button"
                                                    data-bs-toggle="collapse" data-bs-target="#faqcollapsePaymentThree"
                                                    aria-expanded="false" aria-controls="faqcollapsePaymentThree">
                                                    What types of auctions are there?
                                                </button>
                                            </h2>
                                            <div id="faqcollapsePaymentThree" class="accordion-collapse collapse"
                                                aria-labelledby="faqheadingPaymentThree" data-bs-parent="#accordionPayment">
                                                <div class="accordion-body">
                                                    Types of auctions include English (ascending bid), Dutch (descending bid), sealed-bid (highest bid wins), and Vickrey (sealed-bid, second-highest bid wins). Additionally, there are reverse (lowest bid wins) and silent (secret bids) auctions, catering to various selling dynamics and bidder preferences.
                                                </div>
                                            </div>
                                        </div>
                                        <div class="accordion-item">
                                            <h2 class="accordion-header" id="faqheadingPaymentFour">
                                                <button class="accordion-button collapsed" type="button"
                                                    data-bs-toggle="collapse" data-bs-target="#faqcollapsePaymentFour"
                                                    aria-expanded="false" aria-controls="faqcollapsePaymentFour">
                                                    Who can participate in auctions?
                                                </button>
                                            </h2>
                                            <div id="faqcollapsePaymentFour" class="accordion-collapse collapse"
                                                aria-labelledby="faqheadingPaymentFour" data-bs-parent="#accordionPayment">
                                                <div class="accordion-body">
                                                    Anyone meeting auction requirements, typically 18 years or older, can participate. Registration may be necessary, depending on the auction platform. Ensure compliance with specific auction rules and regulations.
                                                </div>
                                            </div>
                                        </div>
                                        <div class="accordion-item">
                                            <h2 class="accordion-header" id="faqheadingPaymentFive">
                                                <button class="accordion-button collapsed" type="button"
                                                    data-bs-toggle="collapse" data-bs-target="#faqcollapsePaymentFive"
                                                    aria-expanded="false" aria-controls="faqcollapsePaymentFive">
                                                    What happens if I win an auction?
                                                </button>
                                            </h2>
                                            <div id="faqcollapsePaymentFive" class="accordion-collapse collapse"
                                                aria-labelledby="faqheadingPaymentFive" data-bs-parent="#accordionPayment">
                                                <div class="accordion-body"> 
                                                    If you win an auction, you're obligated to purchase the item at the winning bid price. Follow payment instructions provided by the auction platform. Non-compliance may lead to penalties or account suspension.
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="bidding" role="tabpanel" aria-labelledby="bidding-tab" tabindex="0">
                            <div class="faq-wrappper three">
                                <div class="faq-content">
                                    <div class="accordion" id="accordionBidding">
                                        <div class="accordion-item">
                                            <h2 class="accordion-header" id="faqheadingBiddingOne">
                                                <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                                    data-bs-target="#faqcollapseBiddingOne" aria-expanded="true"
                                                    aria-controls="faqcollapseBiddingOne">
                                                    What is an auction?
                                                </button>
                                            </h2>
                                            <div id="faqcollapseBiddingOne" class="accordion-collapse collapse show" aria-labelledby="faqheadingBiddingOne" data-bs-parent="#accordionBidding">
                                                <div class="accordion-body">
                                                    An auction is a public sale where goods or services are sold to the highest bidder. Bidders compete to offer the highest price, and the item is awarded to the bidder with the highest bid when the auction ends.
                                                </div>
                                            </div>
                                        </div>
                                        <div class="accordion-item">
                                            <h2 class="accordion-header" id="faqheadingBiddingTwo">
                                                <button class="accordion-button collapsed" type="button"
                                                    data-bs-toggle="collapse" data-bs-target="#faqcollapseBiddingTwo"
                                                    aria-expanded="false" aria-controls="faqcollapseBiddingTwo">
                                                    How do auctions work?
                                                </button>
                                            </h2>
                                            <div id="faqcollapseBiddingTwo" class="accordion-collapse collapse"
                                                aria-labelledby="faqheadingBiddingTwo" data-bs-parent="#accordionBidding">
                                                <div class="accordion-body">
                                                    Auctions allow items to be sold to the highest bidder. Participants bid on the item until the highest bid is reached within a set timeframe. The highest bidder wins and pays the bid amount.
                                                </div>
                                            </div>
                                        </div>
                                        <div class="accordion-item">
                                            <h2 class="accordion-header" id="faqheadingBiddingThree">
                                                <button class="accordion-button collapsed" type="button"
                                                    data-bs-toggle="collapse" data-bs-target="#faqcollapseBiddingThree"
                                                    aria-expanded="false" aria-controls="faqcollapseBiddingThree">
                                                    What types of auctions are there?
                                                </button>
                                            </h2>
                                            <div id="faqcollapseBiddingThree" class="accordion-collapse collapse"
                                                aria-labelledby="faqheadingBiddingThree" data-bs-parent="#accordionBidding">
                                                <div class="accordion-body">
                                                    Types of auctions include English (ascending bid), Dutch (descending bid), sealed-bid (highest bid wins), and Vickrey (sealed-bid, second-highest bid wins). Additionally, there are reverse (lowest bid wins) and silent (secret bids) auctions, catering to various selling dynamics and bidder preferences.
                                                </div>
                                            </div>
                                        </div>
                                        <div class="accordion-item">
                                            <h2 class="accordion-header" id="faqheadingBiddingFour">
                                                <button class="accordion-button collapsed" type="button"
                                                    data-bs-toggle="collapse" data-bs-target="#faqcollapseBiddingFour"
                                                    aria-expanded="false" aria-controls="faqcollapseBiddingFour">
                                                    Who can participate in auctions?
                                                </button>
                                            </h2>
                                            <div id="faqcollapseBiddingFour" class="accordion-collapse collapse"
                                                aria-labelledby="faqheadingBiddingFour" data-bs-parent="#accordionBidding">
                                                <div class="accordion-body">
                                                    Anyone meeting auction requirements, typically 18 years or older, can participate. Registration may be necessary, depending on the auction platform. Ensure compliance with specific auction rules and regulations.
                                                </div>
                                            </div>
                                        </div>
                                        <div class="accordion-item">
                                            <h2 class="accordion-header" id="faqheadingBiddingFive">
                                                <button class="accordion-button collapsed" type="button"
                                                    data-bs-toggle="collapse" data-bs-target="#faqcollapseBiddingFive"
                                                    aria-expanded="false" aria-controls="faqcollapseBiddingFive">
                                                    What happens if I win an auction?
                                                </button>
                                            </h2>
                                            <div id="faqcollapseBiddingFive" class="accordion-collapse collapse"
                                                aria-labelledby="faqheadingBiddingFive" data-bs-parent="#accordionBidding">
                                                <div class="accordion-body"> 
                                                    If you win an auction, you're obligated to purchase the item at the winning bid price. Follow payment instructions provided by the auction platform. Non-compliance may lead to penalties or account suspension.
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Faq section -->
{%endblock%}