{% extends "header_footer.html" %}
 {% load static %}

{% block title%}How to Sell{%endblock%}

{% block content %}
    <!-- Start Breadcrumb section -->
    <div class="breadcrumb-section seven" style="background-image:url({% static 'assets/img/inner-pages/breadcrumb-bg7.png' %});">  
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="banner-content">
                        <h1>How To Sell</h1>
                        <ul class="breadcrumb-list">
                            <li><a href="{% url 'home' %}">Home</a></li>
                            <li>How To Sell</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Breadcrumb section -->

    <!-- Start How To Sell section -->
    <div class="how-to-sell-section pt-110 mb-110">
        <div class="container">
            <div class="row justify-content-center mb-70">
                <div class="col-lg-10">
                    <div class="how-to-sell-wrap">
                        <div class="row mb-25">
                            <div class="col-lg-5 col-md-6">
                                <div class="single-step">
                                    <span>Step-01</span>
                                    <h2>Registration</h2>
                                    <p> Clearly state your pricing structure, payment terms and and any additional charges. Specifying when & payment invoices will be issued, as well as your accepted.</p>
                                    <div class="arrow">
                                        <svg width="11" height="11" viewBox="0 0 11 11" xmlns="http://www.w3.org/2000/svg">
                                            <path
                                                d="M10.501 10.501L2.99848 10.501L2.99848 9.66931L9.07931 9.66931L0.498476 1.08897L1.08848 0.500977L9.66764 9.07965L9.66764 2.99515L10.501 2.99515L10.501 10.501Z"/>
                                        </svg>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row justify-content-end mb-25">
                            <div class="col-lg-5 col-md-6">
                                <div class="single-step two">
                                    <span>Step-02</span>
                                    <h2>Select Platform</h2>
                                    <p> Clearly state your pricing structure, payment terms and and any additional charges. Specifying when & payment invoices will be issued, as well as your accepted.</p>
                                    <div class="arrow">
                                        <svg width="11" height="11" viewBox="0 0 11 11" xmlns="http://www.w3.org/2000/svg">
                                            <path
                                                d="M10.501 10.501L2.99848 10.501L2.99848 9.66931L9.07931 9.66931L0.498476 1.08897L1.08848 0.500977L9.66764 9.07965L9.66764 2.99515L10.501 2.99515L10.501 10.501Z"/>
                                        </svg>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row mb-25">
                            <div class="col-lg-5 col-md-6">
                                <div class="single-step">
                                    <span>Step-03</span>
                                    <h2>Listing the Item</h2>
                                    <p> Clearly state your pricing structure, payment terms and and any additional charges. Specifying when & payment invoices will be issued, as well as your accepted.</p>
                                    <div class="arrow">
                                        <svg width="11" height="11" viewBox="0 0 11 11" xmlns="http://www.w3.org/2000/svg">
                                            <path
                                                d="M10.501 10.501L2.99848 10.501L2.99848 9.66931L9.07931 9.66931L0.498476 1.08897L1.08848 0.500977L9.66764 9.07965L9.66764 2.99515L10.501 2.99515L10.501 10.501Z"/>
                                        </svg>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row justify-content-end mb-25">
                            <div class="col-lg-5 col-md-6">
                                <div class="single-step two">
                                    <span>Step-04</span>
                                    <h2>Managing the Auction</h2>
                                    <p> Clearly state your pricing structure, payment terms and and any additional charges. Specifying when & payment invoices will be issued, as well as your accepted.</p>
                                    <div class="arrow">
                                        <svg width="11" height="11" viewBox="0 0 11 11" xmlns="http://www.w3.org/2000/svg">
                                            <path
                                                d="M10.501 10.501L2.99848 10.501L2.99848 9.66931L9.07931 9.66931L0.498476 1.08897L1.08848 0.500977L9.66764 9.07965L9.66764 2.99515L10.501 2.99515L10.501 10.501Z"/>
                                        </svg>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row mb-25">
                            <div class="col-lg-5 col-md-6">
                                <div class="single-step">
                                    <span>Step-05</span>
                                    <h2>Closing the Auction </h2>
                                    <p> Clearly state your pricing structure, payment terms and and any additional charges. Specifying when & payment invoices will be issued, as well as your accepted.</p>
                                    <div class="arrow">
                                        <svg width="11" height="11" viewBox="0 0 11 11" xmlns="http://www.w3.org/2000/svg">
                                            <path
                                                d="M10.501 10.501L2.99848 10.501L2.99848 9.66931L9.07931 9.66931L0.498476 1.08897L1.08848 0.500977L9.66764 9.07965L9.66764 2.99515L10.501 2.99515L10.501 10.501Z"/>
                                        </svg>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End How To Sell section -->

   {% endblock %}